*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #1a0a53;
    font-size: 1rem;
}
a:hover{
    color: #fff;

}
/* Header */
header{
    position: relative;
    padding: 0 2rem; 
    background-color: #fff;
}
.navbar{
    width: 100%;
    height: 60px; 
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 2.5rem;
    color: #000;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 4rem;
}
.navbar .toggle_btn{
    color: #1a0a53;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #1a0a53;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: sacle 0.2 ease;
    display: none;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}
/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex; 
    justify-content: center; 
}
/* Hero */

section#hero{
    padding-top: 60px;
    text-align: center;
    min-height: 75vh;
    background-color: #000;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 35px;
    background-image: url('https://images.unsplash.com/photo-1591173627030-6fc3077b8d23?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: #000;
    color: #fff;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
.playlist{
    display: flex;
    align-items: center;
    padding-top: 150px;
}

h1{
    font-size: 30px;
    padding: 80px 0 0 0px;
    
}
.one{
    background-color: #000080;
    color: #fff;
    margin: 20px;
    height: 250px;
    width: 250px;


    border-radius: 5px;
    text-align: center;
}
.one a{
    color: #fff;
}
.two{
    background-color: #800020;
    color: #fff;
    margin: 20px;
    height: 250px;
    width: 250px;


    border-radius: 5px;
    text-align: center;
}
.two a{
    color: #fff;
}
.three{
    background-color: #013220;
    color: #fff;
    margin: 20px;
    height: 250px;
    width: 250px;

    border-radius: 5px;
    text-align: center;
}
.three a{
    color: #fff;
}
.four{
    background-color: #d3d3d3;
    color: #fff;
    margin: 20px;
    height: 250px;
    width: 250px;

    border-radius: 5px;
    text-align: center;
}
.four a{
    color: #fff;
}
.five{
    background-color: #5C4033;
    color: #fff;
    margin: 20px;
    height: 250px;
    width: 250px;
;

    border-radius: 5px;
    text-align: center;
}
.five a{
    color: #fff;
}


footer{
    display: none;
}
/* Responsive Design */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    main{
        padding-top: 150px;
    }
   
}

@media(max-width: 992px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    footer{
        margin: 0;
        padding:1.5rem;
        display: block;
        background-color: #fff;
    }
    .footbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media(max-width: 1250px){
    .navbar{
       padding: 20px 20px 20px 20px;
    }

    
}
